[edit]
    command = "code"
    args = ["--wait"]

{{- $email := promptStringOnce . "email" "Email address" "yannick.peroux@gmail.com" }}
{{- $gpgkey := promptStringOnce . "gpgkey" "GPG key to sign commits" "" }}

[data]
    name = "Yannick PÉROUX"
    email = {{ $email | quote }}
    gpgkey = {{ $gpgkey | quote }}
